<ion-content padding-horizontal>
  <h1 padding><strong>Your Tracked Foods</strong></h1>

  <ion-grid>
    <ng-container *ngFor="let i of rows">
      <ion-row>
        <ng-container *ngFor="let j of [0, 1]">
          <ion-col *ngIf="i*3+j < images.length" col-6>
            <img (click)="openModal(i*3+j)" src="{{images[i*3+j].src}}">
          </ion-col>
        </ng-container>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="dark"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button (click)="takePhoto(0)" ion-fab large color="dark"><ion-icon name="camera"></ion-icon></button>
      <button (click)="takePhoto(1)" ion-fab large color="dark"><ion-icon name="images"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
