<!--
  Generated template for the FavouritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Insights</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div padding-horizontal>
    <h4 style="font-weight:600">Insights</h4>
    <div style="font-size:16px;">Here's how you're doing today:</div>
  </div>
  <ion-card>
    <ion-card-content style="font-size:14px; padding:0">
      <ion-item style="border-bottom: 1px solid #858585" *ngFor="let insight of recs.insights">
        <div style="width: 10px;" item-start>
          <ion-icon style="color:#8ECA68" *ngIf="insight.consumed === insight.expected" name="checkmark-circle"></ion-icon>
          <ion-icon style="color:#EE5D5D" *ngIf="insight.consumed > insight.expected" name="alert"></ion-icon>
        </div>
        <div item-start>{{categoryMapping[insight.category]}}</div>
        <div item-end>
          <span style="font-weight:600;">{{insight.consumed + '/' + insight.expected}}</span> <span style="font-size: 12px;">servings</span>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div style="font-size: 16px; margin-top: 10px;" padding-horizontal>
    It appears that you are low in <b>{{toListSentence(getDeficientFoodGroups())}}</b> food groups. <span *ngIf="recs.recommendations.length">Here are some recipes you may like below:</span>
  </div>
  <div *ngIf="recs.recommendations.length" style="padding-top: 10px;" padding-horizontal>
    <h4 class="side-by-side" (click)="toggleFavourites(false)" [ngClass]="{'selected': !showFavourites}">New</h4>
    <h4 margin-left class="side-by-side" (click)="toggleFavourites(true)" [ngClass]="{'selected': showFavourites}">Favourites</h4>
  </div>
  <ng-container *ngFor="let rec of recs.getRecommendations(showFavourites); let i = index">
    <ion-card *ngIf="!showFavourites || recs.liked.has(rec[0].label)">
      <ion-card-content padding-vertical>
        <ion-item (click)="openLink(rec[0].url)">
          <ion-avatar style="width: 60px; height: 60px;" item-start>
            <img src={{rec[0].image}}>
          </ion-avatar>
          <div class="article-title">{{rec[0].label}}</div>
        </ion-item>
        <p padding-horizontal style="font-size: 12px;">Because you should have more {{categoryMapping[rec[0].reason].toLowerCase()}}</p>
        <div>
          <button (click)="recs.like(rec[0].label)" small ion-button icon-start clear>
            <ion-icon *ngIf="recs.liked.has(rec[0].label)" name="heart"></ion-icon>
            <ion-icon *ngIf="!recs.liked.has(rec[0].label)" name="heart-outline"></ion-icon>
            {{recs.liked.has(rec[0].label) ? 'Unfavourite' : 'Favourite'}}
          </button>
          <button *ngIf="!showFavourites" color="dismiss" (click)="recs.dislike(rec[0].label)" small ion-button icon-start clear>
            Try another
          </button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
