page-favourite {
  .selected {
    font-weight: 700 !important;
  }
  .side-by-side {
    display: inline-block;
    font-weight: 400;
  }
  .icon {
    color: #6096ef;
  }
  .article-title {
    font-size: 18px;
    font-weight: 500;
  }
  .action-text {
    color: #6096ef;
    font-size: 12px;
  }
  .color-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
  }
  .green {
    background-color: #80dc8e;
  }
  .orange {
    background-color: #f8b87e;
  }
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
  }

}
