<!--
  Generated template for the FavouritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Insights</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding-horizontal>
  <div padding-horizontal>
    <h4 class="side-by-side" (click)="showRecommendations = false; regenerateGraph()" [ngClass]="{'selected': !showRecommendations}">Progress</h4>
    <h4 margin-left class="side-by-side" (click)="showRecommendations = true" [ngClass]="{'selected': showRecommendations}">Recommendations</h4>
  </div>
  <div style="padding-bottom: 20px;" *ngIf="!showRecommendations">
    <div style="margin-top:20px;" padding-horizontal>
      <h5 style="font-weight: 700">Today</h5>
    </div>
    <ion-card>
      <ion-card-content style="font-size:14px; padding:0">
        <ng-container *ngFor="let insight of recs.insights">
          <ion-item style="border-bottom: 1px solid #858585">
            <div style="width: 10px;" item-start>
              <ion-icon style="color:#8ECA68" *ngIf="insight.consumed === insight.expected && insight.category !== 'other'" name="checkmark-circle"></ion-icon>
              <ion-icon style="color:#EE5D5D" *ngIf="insight.consumed > insight.expected && insight.category !== 'other'" name="alert"></ion-icon>
              <ion-icon style="color:#6096ef" *ngIf="insight.consumed < insight.expected && insight.category !== 'other'" name="timer"></ion-icon>
            </div>
            <div item-start>{{categoryMapping[insight.category]}}</div>
            <div *ngIf="insight.category !== 'other'" item-end>
              <span style="font-weight:600;">{{insight.consumed + '/' + insight.expected}}</span> <span style="font-size: 12px;">servings</span>
            </div>
            <div *ngIf="insight.category === 'other'" item-end>
              <span style="font-weight:600;">{{insight.consumed}}</span> <span style="font-size: 12px;">servings</span>
            </div>
          </ion-item>
        </ng-container>
      </ion-card-content>
    </ion-card>
    <div *ngIf="recs.history.length > 0" style="margin-top:30px;" padding-horizontal>
      <h5 style="font-weight: 700">Your past 7 days</h5>
      <div style="position: relative;">
        <ion-select interface="popover" [(ngModel)]="currentGraphView" (ngModelChange)="regenerateGraph()">
          <ion-option *ngFor="let dataset of recs.history; let idx = index;" value={{idx}}>
            {{categoryMapping[dataset.category]}}
          </ion-option>
        </ion-select>
      </div>
      <canvas #lineCanvas></canvas>
    </div>
    <div *ngIf="recs.history.length === 0" padding>
      Once you've logged more meals, we will begin to show your historical insights here!
    </div>
  </div>

  
  <div *ngIf="showRecommendations">
    <div *ngIf="recs.getRecommendation()" padding>
      Based on the meals you have been logging, we have found these recipes you may like below!
    </div>
    <div *ngIf="!recs.getRecommendation()" padding>
      Sorry, we currently do not have any new recipes for you. We'll notify you when we find more!
    </div>
    <ion-card>
      <ng-container *ngIf="recs.getRecommendation()">
        <div (click)="openLink(recs.getRecommendation().url)" style="display:flex; flex-direction: column; justify-content: center;">
          <img padding style="width: 100%; width: auto;" src={{recs.getRecommendation().image}}>
          <div padding-horizontal class="article-title">{{recs.getRecommendation().label}}</div>
          <p *ngIf="categoryMapping[recs.getRecommendation().reason]" padding-horizontal style="font-size: 12px;">Because you should have more {{categoryMapping[recs.getRecommendation().reason].toLowerCase()}}</p>
        </div>
        <div padding style="display: flex; justify-content: center;">
          <button color="success" (click)="recs.like(recs.getRecommendation())" ion-button icon-start round>
            <ion-icon style="color: white" name="thumbs-up"></ion-icon>
              Save for later
          </button>
          <button color="fail" (click)="recs.dislike(recs.getRecommendation())" ion-button icon-start round>
            <ion-icon style="color: white" name="thumbs-down"></ion-icon>
              Dismiss
          </button>

        </div>

      </ng-container>
    </ion-card>
    <h5 padding-horizontal style="margin-top: 40px;" *ngIf="recs.savedRecommendations.length">Saved Recipes</h5>
    <ng-container *ngFor="let rec of recs.savedRecommendations; let i = index">
      <ion-card>
        <ion-card-content>
          <div style="display:flex">
            <div>
              <ion-avatar (click)="openLink(rec.uri)" style="width: 100px; height: 100px;">
                <img src={{rec.image}}>
              </ion-avatar>
            </div>
            <div>
              <div padding-horizontal class="article-title">{{rec.label}}</div>
              <p *ngIf="categoryMapping[rec.reason]" padding-horizontal style="font-size: 12px;">Because you should have more {{categoryMapping[rec.reason].toLowerCase()}}</p>
              <button color="primary" (click)="recs.unlike(rec)" small ion-button icon-start clear>
              Unsave
            </button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
