<ion-header>
  <ion-navbar>
    <ion-title class="header">
      Articles
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-horizontal>

  <div padding-horizontal>
    <h5 class="side-by-side" (click)="toggleFavourites(false)" [ngClass]="{'selected': !showFavourites}">New</h5>
    <h5 margin-left class="side-by-side" (click)="toggleFavourites(true)" [ngClass]="{'selected': showFavourites}">Favourites</h5>
  </div>
  <ng-container *ngFor="let rec of articles.list">
    <ion-card *ngIf="!showFavourites || rec.liked">
      <ion-card-content padding-vertical>
        <div (click)="like(rec)" float-right style="text-align:center; width: 70px">
          <ion-icon *ngIf="rec.liked" class="icon" name="heart"></ion-icon>
          <ion-icon *ngIf="!rec.liked" class="icon" name="heart-outline"></ion-icon>
          <div class="action-text">{{rec.liked ? 'Unfavourite' : 'Favourite'}}</div>
        </div>
        <p style="text-transform:uppercase; font-size: 12px;">{{rec.source}}</p>
        <div no-padding (click)="openLink(rec.link)" class="article-title">{{rec.title}}</div>
        <p>{{rec.readTime}} min read</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
