<!--
  Generated template for the AddIngredientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons start>
      <button start ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{isSearchMode ? 'Add Ingredients' : capitalizeFirstLetter(mealEdit.title) }}</ion-title>
    <ion-buttons end>
      <button end ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="getItems($event.target.value)"></ion-searchbar>
  <ion-list *ngIf="isSearchMode()">
    <ion-item *ngFor="let item of items" (click)="selectItem(item)">
      {{capitalizeFirstLetter(item)}}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!isSearchMode()">
    <ion-item *ngFor="let ingredient of mealEdit.ingredients">
      <ion-label>{{capitalizeFirstLetter(ingredient.name)}}</ion-label>
      <span *ngIf="ingredient.serving > 0" (click)="editServing(ingredient.name)" item-end>{{ingredient.serving}} servings</span>
      <button *ngIf="ingredient.serving <= 0" (click)="editServing(ingredient.name)" color="primary" ion-button icon-start clear item-end>
        <ion-icon name="add"></ion-icon>
        Add Serving
      </button>
      <button (click)="mealEdit.removeIngredient(ingredient.name)" clear ion-button icon-only item-end color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <div padding *ngIf="isSearchMode() && !items.length">
    Sorry we currently don't have <b>{{searchInput}}</b> in our database, stay tuned for updates!
  </div>
</ion-content>
